version: 2.1
jobs:
  test:
    docker:
      - image: hysds/pge-base:latest
    steps:
      - checkout
      - run:
          name: Test
          command: |
            source $HOME/.bash_profile
            pip install -e .
            cp configs/celery/celeryconfig.py.tmpl celeryconfig.py
            pytest test

workflows:
  version: 2
  test:
    jobs:
      - test
  weekly:
    triggers:
      - schedule:
          cron: "0 7 * * 0"
          filters:
            branches:
              only:
                - develop
    jobs:
      - test:
          filters:
            branches:
              only: develop
